progress[value] {
  height: 10px;
  width: 350px;
  background-color: grey;
  border-radius: 2px;
}

#skills ul {
  font-size: 1.5em;
}

#portfolio,
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
