<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <p>Some of my best projects so far</p>
    <hr>
    <div>
        <article>
            <img src="" alt="photo">
            <h4>PERSONAL BLOG</h4>
            <p>lorem ipsum</p>
        </article>
        <article>
            <img src="" alt="photo">
            <h4>TIC TAC TOE</h4>
            <p>lorem ipsum</p>

        </article>
        <article>
            <img src="" alt="photo">
            <h4>TIME TABLE GENERATOR</h4>
            <p>lorem ipsum</p>
        </article>
    </div>
</section>