<header id="home">
    <div>
        <p>I BELEIVE IN</p>
        <h1>EAT (); CODE (); SLEEP (); REPEAT ();</h1>
    </div>
</header>
<section id="bio">
    <img src="./assets/profile_pic.jpg" alt="photo">
    <article>
        <h2>NAGA SAI CHAITANYA.M</h2>
    </article>
    <p>I am a passionate engineer with Electrical Engineering Background.</p>
    <a href="#" class="link-button">Download My Resume</a>
</section>
<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <p>Some of my best projects so far</p>
    <hr>
    <div>
        <article>
            <img src="" alt="photo">
            <h4>PERSONAL BLOG</h4>
            <p>lorem ipsum</p>
        </article>
        <article>
            <img src="" alt="photo">
            <h4>TIC TAC TOE</h4>
            <p>lorem ipsum</p>

        </article>
        <article>
            <img src="" alt="photo">
            <h4>TIME TABLE GENERATOR</h4>
            <p>lorem ipsum</p>
        </article>
    </div>
</section>