/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    background: #edeef0;
  }

h1,
h3,
h4 {
  font-weight: 700;
}
h1 {
  font-size: 4em;
}
h2 {
  font-weight: 500;
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 1.8em;
}
nav ul li{
    margin:0 20px;
  
}
.nav-link:hover {
    color: orangered;
}